<img class="logo_utmach" src="https://www.utmachala.edu.ec/archivos/siutmach/LOGOINTRO1.png">
<h1 style="text-align: center;">BIOGRAFIA MANUEL PACHECO</h1>
<img src="https://media.licdn.com/dms/image/D4E03AQEhsfRYD7GiLQ/profile-displayphoto-shrink_800_800/0/1686008299044?e=1691625600&v=beta&t=z7KUn4bljBPkpogUMu59awqdjovLrvKG_9kO5JuKpQA" class="rounded mx-auto d-block" width="500" height="500">
<br>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Mi nombre es Manuel Pacheco,naci en el año 2023 y vivo en la ciudad de Machala, soy estudiante de la carrera Tecnologas de la informacion, actualmente curso el 5 semestre de la carrera y me sientio muy orgulloso de pertenecer a esta prestigiada institucion,
        donde e aprendio mucho valores como estudiante y mucho conocimiento, mis metas en este semestre siempre estaran dirigidas en el aprendimiento y mejoramiento de mis conocimientos, conocer nuevos lenguajes de programacion, llegar a establecer una
        buena relacion de amistad,ser organizado no es un don, es un derivado de la constancia y la disciplina, me considero una persona inquieta y creativa, me causa ansiedad no saber ni entender cosas y trato de siempre llenar esos vacios, me gusta
        imagina y aprender en ese corto trayecto en la universidad, es que las verdades y formas de hacer las cosas, de interpretarlas y de concebirlas son muchas por lo el estudio es lo mas maravilloso que puede existir. Nadie nace siendo organizado
        y nunca es tarde para aprender habilidades organizativas. Si sabes qué tienes que hacer y para cuándo, serás mucho más eficiente y evitarás pérdidas de tiempo pensando en qué tienes que hacer ahora o para cuándo tenías ese examen. Para ello, contar
        con una agenda es una idea estupenda. </li>
    <li class="list-group-item"></li>
</ul>
<h2 style="text-align: center;">ACTIVIDADES DE TIEMPO LIBRE</h2>
<ul class="footermod">
    <li>Me gusta reaccionar a videos de tecnologias.</li>
    <li>Trabajo con mis padres en venta de viveres.</li>
    <li>Me gusta informarme sobre mi carrera y repasar temas complicados.</li>
    <li>Realizo limpiezas de computadoras.</li>
    <li>Me gusta salir a coversar con mis amigos.</li>
</ul>
<ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
</ul>

<h2 style="text-align: center;">EXPECTATIVAS DE CURSO</h2>

<ul class="list-group list-group-flush">
    <img src="https://www.revistaespacios.com/a19v40n31/13-01.png" class="rounded mx-auto d-block" width="500" height="500">
    <br>
    <li class="list-group-item"></li>

</ul>

<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-success" style="width: 25%"></div>
</div>
<div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-info" style="width: 50%"></div>
</div>
<div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-warning" style="width: 75%"></div>
</div>
<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-danger" style="width: 100%"></div>
</div>